<!DOCTYPE html>
<html xmlns:tiles="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Spring Boot and Thymeleaf Tiles</title>
</head>
<body>

	<div>
		<h1>Tiles 3 support</h1>
		<p>The Apache Tiles integration module currently only supports Tiles 2 integration. Tiles 3, although seems to be very alike Tiles 2, has a different architecture and therefore a separate module will be created in the future.</p>
	</div>

    <div class="header">
    </div>
    <div class="content">
        <div tiles:replace="body"></div>
    </div>
    <div class="footer">
    </div>
</body>
</html>